/*
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
*/
*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica', arial;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.fixed-container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .fixed-container {
    width: 995px;
  }
}

h2, h3, h4, h5 {
  color: #1E3945;
}

p {
  font-size: 16px;
  color: #1E3945;
  line-height: 1.5;
}

a {
  color: #1BB3F5;
  text-decoration: none;
}

.card__text p,
.popular-route-type p {
  color: #50656E;
}

.card-btn {
  background-color: #1BB3F5;
  color: #FFFFFF;
}

.route-type {
  color: #829198;
}

.overview {
  background-color: #FFFFFF;
}

.overview__main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.overview__content {
  line-height: 24px;
  margin-right: 24px;
}

.overview__content p {
  margin-top: 0;
}

.overview__card {
  width: 100%;
  padding: 24px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
}

.overview__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  padding: 8px 0;
}

.airline-logo {
  text-align: center;
}

.city-information {
  background-image: url("../images/johannesburg_hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.city-information h3 {
  color: #FFFFFF;
}

.city-information-container {
  display: flex;
  flex-direction: row;
}

.city-information__card, .city-information__content {
  background-color: #FFFFFF;
}

.city-information__item {
  display: flex;
  flex-direction: row;
  width: 100%;
}
