/*
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
*/
*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica', arial;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.fixed-container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .fixed-container {
    width: 996px;
  }
}

h2, h3, h4, h5 {
  color: #1E3945;
  margin: 0;
}

p {
  font-size: 16px;
  color: #1E3945;
  line-height: 1.5;
}

a {
  color: #1BB3F5;
  text-decoration: none;
}

.card__text p,
.popular-route-type p {
  color: #50656E;
}

.card-btn {
  background-color: #1BB3F5;
  color: #FFFFFF;
}

.route-type {
  color: #829198;
}

.overview {
  background-color: #FFFFFF;
}

.overview__main {
  display: flex;
  flex-direction: row;
}

.overview__content {
  width: calc(100% - 280px - 24px);
  margin-right: 25px;
}

.overview__content p {
  margin-top: 0;
  margin-bottom: 0;
}

.overview__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 8px;
}

.overview__item .line-1 {
  font-weight: bold;
}

.overview__item > div:nth-child(1) {
  width: 60%;
}

.overview__item > div:nth-child(2) {
  width: 35%;
}

aside {
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
  padding: 22px;
  margin-bottom: 0;
  width: 280px;
}

.airline-logo {
  text-align: center;
}

/* ---- City Information ---- */
.city-information {
  background-image: url("../images/johannesburg_hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.city-information-header h3 {
  color: #FFFFFF;
  transform: translatey(240px);
}

.city-information-container {
  display: flex;
  flex-direction: row;
  transform: translatey(70%);
}

.city-information__card, .city-information__content {
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
}

.city-information__content {
  width: calc(100% - 260px - 1.5rem);
  margin-left: 24px;
  padding: 1.375rem;
}

.city-information__content p {
  color: #50656E;
  font-size: 14px;
  margin: 0;
}

.city-information__content__card {
  padding-right: 0;
}

.city-information__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 8px;
}

.city-information__item .line-1 {
  font-weight: bold;
}

.city-information__item .line-2 {
  color: #50656E;
}

.city-information__item > div:nth-child(1) {
  width: 60%;
}

.city-information__item > div:nth-child(2) {
  width: 50%;
}

.city-information__card h4 {
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 1.375rem;
}

.city-information__content h4 {
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 6px;
}

.city-information__main-attractions {
  padding-top: 1.5rem;
}
