/*
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
*/
*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica', arial;
  padding: 0;
  margin: 0;
  font-size: 16px;
  cursor: default;
  background-color: #FFFFFF;
}

.fixed-container {
  width: 100%;
}

@media (min-width: 1000px) {
  .fixed-container {
    width: 940px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .fixed-container {
    width: 1000px;
    margin: 0 auto;
  }
}

h2, h3, h4 {
  color: #1E3945;
  margin: 8px 0 8px 0;
}

@media (min-width: 320px) {
  h2, h3, h4 {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  h2, h3, h4 {
    margin: 0;
  }
}

p {
  font-size: 16px;
  color: #1E3945;
  line-height: 1.5;
}

a {
  color: #1E3945;
  text-decoration: none;
}

.card__text p,
.popular-route-type p {
  color: #50656E;
}

.card-img {
  height: 216px;
  width: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card__text {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

@media (min-width: 1280px) {
  .card__text {
    padding: 16px;
  }
}

.card__text h3 {
  font-size: 19.5px;
  font-weight: normal;
}

.card-btn {
  background-color: #1BB3F5;
  color: #FFFFFF;
}

.route-type {
  color: #829198;
}

.overview {
  margin-bottom: 30px;
  padding-top: 82px;
}

@media (min-width: 678px) {
  .overview {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .overview {
    background-color: #FFFFFF;
    margin-bottom: 56px;
  }
}

.overview__main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 678px) {
  .overview__main {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .overview__main {
    display: flex;
    flex-direction: row;
  }
}

.overview__content {
  width: 100%;
  padding: 16px;
}

@media (min-width: 678px) {
  .overview__content {
    padding-left: 24px;
    padding-top: 0;
  }
}

.overview__content p {
  margin-top: 0;
}

@media (min-width: 1280px) {
  .overview__content {
    width: calc(100% - 281px - 24px);
    margin-right: 24px;
    padding-top: 0;
  }
}

@media (min-width: 1280px) {
  .overview__content-last-item {
    margin-bottom: 0;
  }
}

.overview__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 9px;
}

.overview__item .line-1 {
  font-weight: bold;
}

.overview__item > div:nth-child(1) {
  width: 60%;
}

.overview__item > div:nth-child(2) {
  width: 35%;
}

aside {
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
  padding: 22px;
  margin: 0 auto;
  width: 281px;
  height: 100%;
}

@media (min-width: 480px) {
  aside {
    width: 80%;
  }
}

@media (min-width: 678px) {
  aside {
    margin-right: 24px;
  }
}

@media (min-width: 1000px) {
  aside {
    width: 281px;
  }
}

@media (min-width: 1280px) {
  aside {
    width: 281px;
  }
}

.airline-logo {
  text-align: center;
}

/* ---- City Information ---- */
.city-information {
  background-image: url("../images/johannesburg_hero.jpg");
  background-repeat: no-repeat;
  background-position: 50% -55%;
  width: 100%;
}

@media (min-width: 678px) {
  .city-information {
    background-position: 50% -50%;
  }
}

@media (min-width: 1000px) {
  .city-information {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media (min-width: 1280px) {
  .city-information {
    background-image: url("../images/johannesburg_hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.city-information-header h2 {
  color: white;
  transform: translatey(180px);
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 16px;
}

@media (min-width: 360px) {
  .city-information-header h2 {
    margin-left: 20px;
    transform: translatey(190px);
  }
}

@media (min-width: 375px) {
  .city-information-header h2 {
    transform: translatey(190px);
  }
}

@media (min-width: 414px) {
  .city-information-header h2 {
    transform: translatey(210px);
  }
}

@media (min-width: 480px) {
  .city-information-header h2 {
    transform: translatey(210px);
    margin-left: 25px;
  }
}

@media (min-width: 678px) {
  .city-information-header h2 {
    transform: translatey(240px);
  }
}

@media (min-width: 1000px) {
  .city-information-header h2 {
    transform: translatey(190px);
    margin-left: 0;
  }
}

@media (min-width: 1280px) {
  .city-information-header h2 {
    color: white;
    transform: translatey(160px);
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0;
  }
}

.city-information-container {
  display: flex;
  flex-direction: column;
  transform: translatey(30%);
}

@media (min-width: 360px) {
  .city-information-container {
    transform: translatey(30%);
  }
}

@media (min-width: 375px) {
  .city-information-container {
    transform: translatey(32%);
  }
}

@media (min-width: 414px) {
  .city-information-container {
    transform: translatey(38%);
  }
}

@media (min-width: 480px) {
  .city-information-container {
    transform: translatey(38%);
  }
}

@media (min-width: 678px) {
  .city-information-container {
    transform: translatey(50%);
  }
}

@media (min-width: 1000px) {
  .city-information-container {
    display: flex;
    flex-direction: row;
    transform: translatey(70%);
  }
}

@media (min-width: 1280px) {
  .city-information-container {
    display: flex;
    flex-direction: row;
    transform: translatey(70%);
  }
}

.city-information__card, .city-information__content {
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
}

.city-information__card {
  width: 90%;
  margin-bottom: 16px;
  padding: 16px;
}

@media (min-width: 360px) {
  .city-information__card {
    width: 90%;
  }
}

@media (min-width: 678px) {
  .city-information__card {
    margin-left: 24px;
    margin-bottom: 16px;
    width: 60%;
  }
}

@media (min-width: 1000px) {
  .city-information__card {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .city-information__card {
    width: 380px;
    margin: 0;
    height: auto;
    padding: 22px;
  }
}

.city-information__content {
  width: calc(100% - 380px - 24px);
  padding: 16px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 360px) {
  .city-information__content {
    width: 90%;
    padding: 22px;
  }
}

@media (min-width: 678px) {
  .city-information__content {
    margin: 0 0 0 24px;
  }
}

@media (min-width: 1280px) {
  .city-information__content {
    width: calc(100% - 380px - 24px);
    padding: 22px;
    margin-left: 14px;
  }
}

.city-information__content p {
  color: #50656E;
  font-size: 14px;
  margin: 0;
}

.city-information__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 12px;
}

.city-information__item .line-1 {
  font-weight: bold;
}

.city-information__item .line-2 {
  color: #50656E;
}

.city-information__item > div:nth-child(1) {
  width: 60%;
}

@media (min-width: 1280px) {
  .city-information__item > div:nth-child(1) {
    width: 40%;
  }
}

.city-information__item > div:nth-child(2) {
  width: 70%;
}

.city-information__card h3 {
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 1.375rem;
}

.city-information__content h3 {
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 6px;
}

.city-information__main-attractions {
  padding-top: 24px;
}

@media (min-width: 1280px) {
  .city-information__main-attractions {
    padding-top: 1.5rem;
  }
}

.route {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 250px;
}

@media (min-width: 360px) {
  .route {
    margin-top: 260px;
  }
}

@media (min-width: 375px) {
  .route {
    margin-top: 265px;
  }
}

@media (min-width: 414px) {
  .route {
    margin-top: 290px;
  }
}

@media (min-width: 480px) {
  .route {
    margin-top: 280px;
  }
}

@media (min-width: 678px) {
  .route {
    margin-top: 310px;
  }
}

@media (min-width: 1000px) {
  .route {
    margin-top: 260px;
  }
}

@media (min-width: 1280px) {
  .route {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    margin-top: 250px;
    margin-left: 0;
  }
}

.route__header {
  text-align: center;
}

@media (min-width: 1000px) {
  .route__header {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .route__header {
    text-align: left;
    margin-top: 0;
  }
}

.route__main {
  display: flex;
  flex-direction: column;
  margin-top: 1.625rem;
}

@media (min-width: 1000px) {
  .route__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .route__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.625rem;
  }
}

.route__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.route__item + .route__item {
  margin-top: 16px;
}

@media (min-width: 1000px) {
  .route__item + .route__item {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .route__item + .route__item {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .route__item {
    align-items: flex-start;
  }
}

@media (min-width: 1280px) {
  .route__item {
    align-items: flex-start;
  }
}

.route .icon img {
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
}

.route .route-type {
  font-size: 0.875rem;
}

.route .route-text {
  line-height: 24px;
  font-size: 1rem;
}

.activities-main {
  background-color: #FAFBFB;
  padding: 32px 16px 48px 16px;
}

@media (min-width: 1280px) {
  .activities-main {
    padding: 48px 16px 64px 16px;
  }
}

.activities-main h2 {
  padding-bottom: 16px;
}

@media (min-width: 678px) {
  .activities-main h2 {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .activities-main h2 {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .activities-main h2 {
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 24px;
  }
}

.activities-main__cards {
  display: flex;
  flex-direction: column;
}

@media (min-width: 678px) {
  .activities-main__cards {
    max-width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .activities-main__cards {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .activities-main__cards {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.activities-main__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
  border-radius: 2px;
}

.activities-main__item + .activities-main__item {
  margin-top: 10px;
}

@media (min-width: 1000px) {
  .activities-main__item + .activities-main__item {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .activities-main__item + .activities-main__item {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .activities-main__item {
    width: calc(33.33% - (24px / 2));
  }
}

@media (min-width: 1280px) {
  .activities-main__item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - (24px / 2));
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
  }
}

.activities-main__item p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-top: 8px;
}

.card-img.activities {
  cursor: default;
}

.accomodation-main {
  padding: 32px 16px 48px 16px;
}

@media (min-width: 1280px) {
  .accomodation-main {
    padding: 56px 40px 55px 40px;
  }
}

.accomodation-main h2 {
  padding-bottom: 16px;
}

@media (min-width: 678px) {
  .accomodation-main h2 {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .accomodation-main h2 {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .accomodation-main h2 {
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 24px;
  }
}

.accomodation-main__cards {
  display: flex;
  flex-direction: column;
}

@media (min-width: 678px) {
  .accomodation-main__cards {
    max-width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .accomodation-main__cards {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .accomodation-main__cards {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.accomodation-main__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
  border-radius: 2px;
}

.accomodation-main__item + .accomodation-main__item {
  margin-top: 16px;
}

@media (min-width: 1000px) {
  .accomodation-main__item + .accomodation-main__item {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .accomodation-main__item + .accomodation-main__item {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .accomodation-main__item {
    width: calc(33.33% - (24px / 2));
  }
}

@media (min-width: 1280px) {
  .accomodation-main__item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - (24px / 2));
  }
}

.accomodation-main__item p {
  font-size: 14px;
  margin: 0;
  padding: 8px 0 16px 0;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card__text h3 {
  font-size: 19px;
  font-weight: normal;
}

.card-btn {
  width: 106px;
  text-align: center;
  border-radius: 2px;
}

.card-btn p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 16px;
  margin: 0;
}

@media (min-width: 1000px) {
  .card-btn p {
    cursor: pointer;
  }
}

@media (min-width: 1000px) {
  .card-btn:hover {
    background-image: linear-gradient(0deg, rgba(209, 239, 253, 0.4), rgba(209, 239, 253, 0.4));
  }
}

.more-accomodation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 55px;
}

@media (min-width: 1000px) {
  .more-accomodation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 55px;
  }
}

@media (min-width: 1280px) {
  .more-accomodation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 55px;
  }
}

.more-accomodation h3 {
  text-align: center;
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
}

@media (min-width: 414px) {
  .more-accomodation h3 {
    padding: 0 4px 10px 4px;
  }
}

@media (min-width: 1000px) {
  .more-accomodation h3 {
    padding-bottom: 0;
    padding-right: 16px;
  }
}

@media (min-width: 1280px) {
  .more-accomodation h3 {
    padding-right: 16px;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: normal;
  }
}

.see-all-btn {
  border: 1px solid #1BB3F5;
  border-radius: 2px;
  align-items: center;
  color: #1BB3F5;
  padding: 8px 18px;
}

@media (min-width: 1000px) {
  .see-all-btn {
    padding: 10px 22px;
  }
}

@media (min-width: 1280px) {
  .see-all-btn {
    border: 1px solid #1BB3F5;
    border-radius: 2px;
    align-items: center;
    color: #1BB3F5;
    padding: 10px 22px;
  }
}

@media (min-width: 1000px) {
  .see-all-btn:hover {
    background-color: #1bb3f5;
    border-color: #1bb3f5;
    color: #fff;
    background-image: linear-gradient(0deg, rgba(209, 239, 253, 0.4), rgba(209, 239, 253, 0.4));
  }
}

.popular-routes {
  background-color: #FAFBFB;
  padding: 32px 16px 48px 16px;
}

@media (min-width: 678px) {
  .popular-routes {
    padding: 32px 32px 48px 32px;
  }
}

@media (min-width: 1000px) {
  .popular-routes {
    padding: 48px 0 64px 0;
  }
}

@media (min-width: 1280px) {
  .popular-routes {
    padding: 48px 0 64px 0;
  }
}

.popular-routes h2 {
  padding-bottom: 16px;
}

@media (min-width: 1280px) {
  .popular-routes h2 {
    padding-bottom: 32px;
  }
}

.popular-routes__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1000px) {
  .popular-routes__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .popular-routes__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.popular-routes__card {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 108px;
  margin-top: 0;
}

@media (min-width: 678px) {
  .popular-routes__card {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .popular-routes__card {
    width: 300px;
    height: 108px;
  }
}

@media (min-width: 1280px) {
  .popular-routes__card {
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(5, 35, 49, 0.14), 0 2px 2px 0 rgba(5, 35, 49, 0.12);
    display: flex;
    flex-direction: row;
    width: 315px;
    height: 108px;
    margin-top: 0;
  }
}

.popular-routes__card + .popular-routes__card {
  margin-top: 8px;
}

@media (min-width: 1000px) {
  .popular-routes__card + .popular-routes__card {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .popular-routes__card + .popular-routes__card {
    margin-top: 0;
  }
}

.popular-routes__img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 33%;
  height: auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.popular-routes__text {
  width: 67%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 22px;
}

.popular-routes-type {
  color: #50656E;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
}

.popular-routes__route span {
  color: #1E3945;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 1280px) {
  .popular-routes__card:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.1);
  }
}
