$default-spacing: 24px;


.accomodation-main {
  padding: 32px 16px 48px 16px;

  // 1280px
  @media (min-width: #{$screen-desktop-large}) {
    padding: 56px 40px 55px 40px;
  }

  h3 {
    padding-bottom: 16px;
    
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      max-width: 1160px;
      margin: 0 auto;
      padding-bottom: 24px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      max-width: 1160px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);

    & + & {
      margin-top: 10px;

      // 1280px
      @media (min-width: #{$screen-desktop-large}) {
        margin-top: 0;
      }
    }

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      display: flex;
      flex-direction: column;
      width: calc(33.33% - (#{$default-spacing} / 2));
    }

    p {
      font-size: 14px;
      margin: 0;
      padding: 8px 0 16px 0;
    }
  }

  &__item:hover {

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h4 {
    font-size: 19px;
    font-weight: normal;
  }
}

.card-btn {
  width: 106px;
  align-self: flex-end;
  text-align: center;
  border-radius: 2px;
  justify-content: flex-end;
  
  p {
    color: $white;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 16px;
    margin: 0;
  }
}

.more-accomodation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 55px;

  // 1280px
  @media (min-width: #{$screen-desktop-large}) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 55px;
  }

  h4 {
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      padding-right: 16px;
      padding-bottom: 0;
      font-size: 20px;
      font-weight: normal;
    }
  }
}

.see-all-btn {
  border: 1px solid $dodger-blue;
  border-radius: 2px;
  align-items: center;
  color: $dodger-blue;
  padding: 8px 18px;

  // 1280px
  @media (min-width: #{$screen-desktop-large}) {
    border: 1px solid $dodger-blue;
    border-radius: 2px;
    align-items: center;
    color: $dodger-blue;
    padding: 10px 22px;
  }
}

