$default-spacing: 24px;


.accomodation-main {
  padding: 56px 40px 55px 40px;

  h3 {
    padding-bottom: 24px;

    @media (min-width: #{$screen-desktop-large}) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: #{$screen-desktop-large}) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - (#{$default-spacing} / 2));
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);

    p {
      font-size: 14px;
      margin: 0;
      padding: 8px 0 16px 0;
    }
  }
}
  
.accomodation-main__item img {
    height: 216px;
    width: auto;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

.card__text {
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 20px;
    font-weight: normal;
  }
}

.card-btn {
  width: 106px;
  margin-left: auto;
  text-align: center;
  border-radius: 2px;
  
  p {
    color: $white;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 16px;
    margin: 0;
  }
}

.more-accomodation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 55px;

  h4 {
    padding-right: 16px;
    font-size: 20px;
    font-weight: normal;
  }
}

.see-all-btn {
  border: 1px solid $dodger-blue;
  border-radius: 2px;
  align-items: center;
  color: $dodger-blue;
  padding: 10px 22px;
}

