$default-spacing: 24px;

.activities-main {
  background-color: $grey-nurse;
  padding: 48px 40px 64px 40px;

  h3 {
    padding-bottom: 24px;
    
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      max-width: 1160px;
      margin: 0 auto;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      max-width: 1160px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);

    & + & {
      margin-top: 16px;

      // 1280px
      @media (min-width: #{$screen-desktop-large}) {
        margin-top: 0;
      }
    }
    
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      display: flex;
      flex-direction: column;
      width: calc(33.33% - (#{$default-spacing} / 2));
      background-color: $white;
      box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);
    }

    p {
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }
  }     
 
  &__item:hover {
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.1);
    }
  }
}


