$default-spacing: 24px;

.activities-main {
  background-color: $grey-nurse;
  padding: 48px 40px 64px 40px;

  h3 {
    padding-bottom: 24px;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - (#{$default-spacing} / 2));
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);

    p {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__img {
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    }
  }

.card__text {
  padding: 16px;

  h4 {
    font-size: 20px;
    font-weight: normal;
  }
}
