$default-spacing: 24px;

.activities-main {
  background-color: $grey-nurse;
  padding: 32px 16px 48px 16px;

  // 1280px
  @media (min-width: #{$screen-desktop-large}) {
    padding: 48px 16px 64px 16px;
  }

  h2 {
    padding-bottom: 16px;

    // 678px
    @media (min-width: #{$screen-mobile-xlrg}) {
      text-align: center;
    }

    // 1000px
    @media (min-width: #{$screen-tablet-large}) {
      text-align: left;
    }

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      max-width: 1160px;
      margin: 0 auto;
      padding-bottom: 24px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;

    // 678px
    @media (min-width: #{$screen-mobile-xlrg}) {
      max-width: 450px;
      margin: 0 auto;
    }

    // 1000px
    @media (min-width: #{$screen-tablet-large}) {
      max-width: 1160px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      max-width: 1160px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);
    border-radius: 2px;

    & + & {
      margin-top: 10px;

      // 1000px
      @media (min-width: #{$screen-tablet-large}) {
        margin-top: 0;
      }

      // 1280px
      @media (min-width: #{$screen-desktop-large}) {
        margin-top: 0;
      }
    }

    // 1000px
    @media (min-width: #{$screen-tablet-large}) {
      width: calc(33.33% - (#{$default-spacing} / 2));
    }
    
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      display: flex;
      flex-direction: column;
      width: calc(33.33% - (#{$default-spacing} / 2));
      background-color: $white;
      box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);
    }

    p {
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding-top: 8px;
    }
  }     
 
  &__item:hover {
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.1);
    }
  }
}


