/*$info-width: 335px;
$content-margin: 24px; */

/* ---- City Information ---- */

.city-information {
  background-image: url('../images/johannesburg_hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &-header h3 {
    color: black;
    transform: translatey(170px);
    font-size: 1.5rem;
    font-weight: bold;
  }

  &-container {
    display: flex;
    flex-direction: row;
    transform: translatey(70%);
  }

  &__card, &__content {
    border-radius: 2px;	
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);
  }

  &__content {
    /*width: calc(100% - #{$info-width} - #{$content-margin}); */
    margin-left: 24px;
    padding: 1.375rem;

    p {
      color: $cutty-sark;
      font-size: 14px;
      margin: 0;
    }

    &__card {
      padding-right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 8px;

    .line-1 {
      font-weight: bold;
    }

    .line-2 {
      color: $cutty-sark;
    }
  }

  &__item > div:nth-child(1) {
    width: 60%;
  }

  &__item > div:nth-child(2) {
    width: 50%;
  }

  &__card h4 {
    font-size: 1.25rem;
    font-weight: normal;
    padding-bottom: 1.375rem;
  }

  &__content h4 {
    font-size: 1.25rem;
    font-weight: normal;
    padding-bottom: 6px;
  }
    
  &__main-attractions {
    padding-top: 1.5rem;
  }
}




