$info-width: 380px;
$content-margin: 24px; 

/* ---- City Information ---- */
.city-information {
  background-image: url('../images/johannesburg_hero.jpg');
  background-repeat: no-repeat;
  background-position: 50% -55%;
  width: 100%;
  
  // 1280px
  @media (min-width: #{$screen-desktop-large}) {
    background-image: url('../images/johannesburg_hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &-header h3 {
    color: white;
    transform: translatey(190px);
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 16px;
    
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      color: white;
      transform: translatey(170px);
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 0;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    transform: translatey(30%);

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      display: flex;
      flex-direction: row;
      transform: translatey(70%);
    }
  }

  &__card, &__content {
    border-radius: 2px;	
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);
  }

  &__card {
    width: 280px;
    margin-bottom: 8px;

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      width: 380px;
      margin-bottom: 0;
      height: auto;
    }
  }

  &__content {
    width: calc(100% - #{$info-width} - #{$content-margin}); 
    padding: 1.375rem;
    width: 90%;
    margin-left: 16px;

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      width: calc(100% - #{$info-width} - #{$content-margin}); 
      padding: 1.375rem;
      width: 60%;
    }

    p {
      color: $cutty-sark;
      font-size: 14px;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 12px;

    .line-1 {
      font-weight: bold;
    }

    .line-2 {
      color: $cutty-sark;
    }
  }

  &__item > div:nth-child(1) {
    width: 40%;
  }

  &__item > div:nth-child(2) {
    width: 70%;
  }

  &__card h4 {
    font-size: 1.25rem;
    font-weight: normal;
    padding-bottom: 1.375rem;
  }

  &__content h4 {
    font-size: 1.25rem;
    font-weight: normal;
    padding-bottom: 6px;
  }
    
  &__main-attractions {
    padding-top: 1.5rem;
  }
}




