*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica', arial;
  padding: 0;
  margin: 0;
  font-size: 16px;
  cursor: default;
}

.fixed-container {
  width: 100%;

  // 1000px
  @media (min-width: #{$screen-tablet-large}) {
    width: 940px;
    margin: 0 auto;
  }

  // 1280px
  @media (min-width: #{$screen-desktop-large}) {
    width: 1000px;
    margin: 0 auto;
  } 
}

h2, h3, h4 {
  color: $blue-dianne;
  margin: 8px 0 8px 0;

  // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      margin: 0;
    }
  }

p {
  font-size: 16px;
  color: $blue-dianne;
  line-height: 1.5;
}

a {
  color: $blue-dianne;
  text-decoration: none;
}

.card__text p,
.popular-route-type p {
  color: $cutty-sark;
}

.card-img {
  height: 216px;
  width: auto;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card__text {
  display: flex;
  flex-direction: column;
  padding: 10px;

  // 1280px
  @media (min-width: #{$screen-desktop-large}) {
    padding: 16px;
  }

  h3 {
    font-size: 19.5px;
    font-weight: normal;
  }
}

.card-btn {
  background-color: $dodger-blue;
  color: $white;
}

.route-type {
  color: $regent-grey;
}