.popular-routes {
  background-color: $grey-nurse;
  padding: 48px 0 64px 0;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);
    display: flex;
    flex-direction: row;
    width: 143px;
    height: 150px;
    margin-top: 0;

    &__img {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 33%;
      height: auto;
    }
  }
}