$sidebar-width: 280px;
$content-margin: 25px;

// 1280px
.overview-main {
  display: flex;
  flex-direction: row;
  width: calc(100% - #{$sidebar-width} - #{$content-margin});
}

.airline-overview {
  width: $sidebar-width;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);

  &__item {
    display: flex;
    flex-direction: row;
  }
}