
.route {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 250px;

  // 360px
  @media (min-width: #{$screen-mobile-small-medium}) {
    margin-top: 260px;
  }

  // 375px
  @media (min-width: #{$screen-mobile-small-large}) {
    margin-top: 265px;
  }

  // 414px
  @media (min-width: #{$screen-mobile-medium}) {
    margin-top: 290px;
  }

  // 480px
  @media (min-width: #{$screen-mobile-large}) {
    margin-top: 280px;
  }

  // 1280px
  @media (min-width: #{$screen-desktop-large}) { 
      display: flex;
      flex-direction: column;
      margin-bottom: 64px;
      margin-top: 250px;
      margin-left: 0;
  }

  &__header {
    text-align: center;
    
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      text-align: left;
      margin-top: 0;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-top: 1.625rem;
    
    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1.625rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
      
    & + & {
      margin-top: 16px;

      // 1280px
      @media (min-width: #{$screen-desktop-large}) { 
        display: flex;
        flex-direction: column;
        margin-top: 0;
      }
    }
  }

  .icon img {
    margin-bottom: 10px;
    height: 20px;
    width: 20px;
  }

  .route-type {
    font-size: 0.875rem;
  }

  .route-text {
    line-height: 24px;
    font-size: 1rem;
  }
}

