
.route {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 250px;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.625rem;

    // 1280px
    @media (min-width: #{$screen-desktop-large}) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 1.625rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  .icon img {
    margin-bottom: 10px;
    height: 20px;
    width: 20px;
  }

  .route-type {
    font-size: 0.875rem;
  }

  .route-text {
    line-height: 24px;
    font-size: 1rem;
  }

}

